.redTest {
  background-color: red;
}

.hideButton {
  max-width: 250px;
  margin: 1rem auto 0;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
	font-weight: bolder;
}

.hideButton:hover {
  border: 2px solid rgb(60, 60, 243);
  cursor: pointer;
	background-color: lightgreen;
	color: rgb(80, 12, 12)
}

.openDueContainer{
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
}

.openDueContainer div {

}